<h1>My Tasks</h1>
  <% @tasks.each do |t| %>
    <div class="checkbox"><label>
      <% if t.completed %>
        <input type = "checkbox" checked>
      <% else %>
        <input type = "checkbox">
      <% end %>

      <%= link_to t.title, task_path(t) %></label>
      <%= link_to "", task_path(t), method: :delete, data: {confirm: "Delete #{t.title}?"}, class:"btn btn-primary"  %>
    </div>
  <% end %>
  <p class="mt-3"><%= link_to '+ Add a new task', new_task_path(@task) %></p>

