<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<% if @task.completed %>
    <input type = "checkbox" checked> This task is completed
    <% else %>
    <input type = "checkbox"> This task is not complete yet
    <% end %>
<p><%= link_to 'Back to list', tasks_path  %></p>

<button type="button" class="btn btn-secondary"><%= link_to 'Edit this task', edit_task_path(@task)  %></button>


